build
devel
src/CMakeLists.txt
src/lab2/data
src/lab2/document/main.aux
src/lab2/document/main.bbl
src/lab2/document/main.blg
src/lab2/document/main_config.tex
src/lab2/document/main.log
src/lab2/document/main.out
src/lab2/document/main.pdf
src/lab2/document/main.synctex.gz


src/lab3/data
src/lab3/document/main.aux
src/lab3/document/main.bbl
src/lab3/document/main.blg
src/lab3/document/main_config.tex
src/lab3/document/main.log
src/lab3/document/main.out
src/lab3/document/main.pdf
src/lab3/document/main.synctex.gz

src/labpythonlib/build
src/labpythonlib/dist
src/labpythonlib/labpythonlib.egg-info
src/labpythonlib/dist/labpythonlib-0.0.2-py3-none-any.whl

