build
.catkin_workspace
devel
src/CMakeLists.txt
src/lab2/document/main.aux
src/lab2/document/main.bbl
src/lab2/document/main.blg
src/lab2/document/main_config.tex
src/lab2/document/main.log
src/lab2/document/main.out
src/lab2/document/main.pdf
src/lab2/document/main.synctex.gz
