<?xml version="1.0"?>
<!-- info: display ur5 robot on rviz, the robot follow a sine trajectory-->
<launch>
    <!-- display ur5 robot on rviz-->
    <include file="$(find lab2)/launch/display_ur5_rviz.launch">
        <arg name="rviz_config_file" value="$(find lab2)/config/labs_view_ur5.rviz"/>       
    </include>
    <!-- Create a node to publish joint trajectory -->
    <node name="joint_PD_control_critical_damping_sinusoidal" pkg="lab2" type="joint_PD_control_critical_damping_sinusoidal" output="screen" /> 
</launch>